[submodule "mechanize"]
	path = mechanize
	url = https://github.com/jjlee/mechanize.git
[submodule "beautifulsoup"]
	path = beautifulsoup
	url = https://github.com/bdoms/beautifulsoup.git
[submodule "zipline"]
	path = zipline
	url = https://github.com/quantopian/zipline.git
